<% include ../partials/header %>


<div class="container show_page">
	<div class="row">
		<!-- <div class="col-xs-11"> -->
	<div class="rec-left">
		<div class="col-xs-12 col-sm-8">
			<div class="rec-photo">
				<div class="rec-title">
					<h1><%= recipe.title %></h1>
					<form>
						<a href="/recipes/<%= recipe._id %>/edit" class="btn btn-primary">Edit</a>
					</form>
					<form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" class="buttons">
						<button class="btn btn-danger">Delete</button>
					</form>
				</div>
				<div class="thumbnail">
					<img src="<%= recipe.image %>">
				</div>
			</div><!-- rec-photo -->
			<div class="rec-ingredients">
				<h2>Ingredients:</h2>
				<% recipe.ingredient.forEach(function(ing) { %>
					<li><%= ing %></li>
				<% }); %>
			</div><!-- rec-ingredients -->
			
		</div><!-- .col -->
	</div><!-- rec-left -->
	


	<div class="rec-right">
		<div class="col-xs-12 col-sm-4"> 
			<div class="rec-desc">
				<h2>Description:</h2>
				<p class="description"><%= recipe.description %></p>
			</div><!-- rec-desc -->
			<div class="rec-info">
				<h2>Information:</h2>
				<div class="thumbnail">
					<p><strong id="information_key">Preparation time: </strong><%= recipe.prep_time %> min</p>
					<p><strong>Cooking time: </strong><%= recipe.cooking_time %> min</p>
					<p><strong>Calories: </strong><%= recipe.kcal %> (per portion)</p>
					<p><strong>Vegeterian: </strong><%= recipe.vegeterian %></p>
					<p><strong>Vegan: </strong><%= recipe.vegan %></p>
					<p><strong>Gluten Free: </strong><%= recipe.glutenFree %></p>
					<p><strong>Dairy Free: </strong><%= recipe.dairyFree %></p>
					
						<% if (recipe.serves !== null) { %>
							<p><strong>Serves: </strong><%= recipe.serves %></p>
						<% } else { %>
							<p><strong>Serves: </strong>1</p>
						<% } %>
				</div>
			</div><!-- rec-info -->
			<div class="rec-social">
				<button type="button" class="btn btn-outline-secondary social-btn"><i class="fas fa-heart"></i> Save</button>
				<button type="button" class="btn btn-outline-secondary social-btn"><i class="fas fa-print"></i> Print</button>
				<button type="button" class="btn btn-outline-secondary social-btn"><i class="fas fa-download"></i> Download</button>
				<div class="social-icons">
					<div class="social-icon">
						<a href="http://www.facebook.com"><i class="fab fa-facebook-square fa-2x"></i></a>
					</div>
					<div class="social-icon">
						<a href="http://www.pinterest.com"><i class="fab fa-pinterest-square fa-2x"></i></a>
					</div>
				</div>
			</div>
		</div><!-- .col -->
	</div><!-- rec-right -->
	



<div class="row">
	<div class="rec-down">
		<div class="col-xs-12">
			<div class="rec-method">
				<h2>Method:</h2>
				<p><%= recipe.method %></p>
			</div><!-- rec-method -->
			<div class="rec-comments">
				<div class="comments_header">
					<h2 id="comment_h2">Comments:</h2>
					<a class="btn btn-outline-success btn-new-comment" href="/recipes/<%= recipe._id %>/comments/new">Create new comment</a>
				</div>
				<% recipe.comments.forEach(function(comment) { %>
				    <li id="comment">
				    	<strong><%= comment.author %></strong> <p id="comment_content"><%= comment.text %></p>
				    
				        <button id="edit_comment_btn"><a href="/recipes/<%= recipe._id %>/comments/<%= comment._id%>/edit" id="edit_comment_a">Edit</a></button>
				        <form id="delete_comment_form"action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
				        	<button id="delete_comment_btn">Delete</button>
				        </form>
				    </li>
				<% }); %>
			</div><!-- rec-comments -->
		</div><!-- .col -->
	</div><!-- rec-down -->
	</div>
<!-- </div> -->
</div><!-- row -->
</div><!-- container -->




			





<% include ../partials/footer %>